<!-- main app container -->
<div class="jumbotron">
      <div class="col-md-6 offset-md-3">
        <h3 style="margin: 0 auto; text-align: center">Edit Item</h3>
        <form #put = "ngForm" (ngSubmit) = "onClickPutSubmit(put.value, singleItem['id'])" >
          <div class="form-group">
            <label>Name</label>
            <input type = "text" class="form-control" name = "name" placeholder = "name" [(ngModel)]="singleItem['name']">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Slug</label>
            <input type = "text" class="form-control"  name = "slug" placeholder = "slug" [(ngModel)]="singleItem['slug']">
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.Slug.errors.required">Slug is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Sort Order</label>
            <input type = "number" class="form-control" name = "sortOrder" placeholder = "sortOrder" [(ngModel)]="singleItem['sortOrder']" value="{{singleItem['sortOrder']}}">
            <div *ngIf="submitted && f.sortOrder.errors" class="invalid-feedback">
              <div *ngIf="f.sortOrder.errors.required">sortOrder is required</div>
            </div>
          </div>
          <div class="form-group" >
            <label>Status</label>
            <div><input type="checkbox"  class="form-control" id="myCheck" class="check" name = "status" placeholder = "status" [(ngModel)]="singleItem['status']" value="{{singleItem['status']}}"> Status</div>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div *ngIf="f.status.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group" >
            <label>Distributor Code</label>
            <input type = "text" class="form-control" name = "distributorCode" placeholder = "distributorCode" [(ngModel)]="singleItem['distributorCode']" value="{{singleItem['distributorCode']}}">
          </div>
          <div class="form-group" >
            <label>Distributor</label>
            <input type = "text" class="form-control" name = "distributor" placeholder = "distributor" [(ngModel)]="singleItem['distributor']" value="{{singleItem['distributor']}}" >
          </div>
          <div class="form-group" >
            <label>Image File</label>
            <input type = "text" class="form-control" name = "imageFile" placeholder = "imageFile" [(ngModel)]="singleItem['imageFile']" value="{{singleItem['imageFile']}}">
          </div>
          <div class="form-group" >
            <label>Showcase Content</label>
            <input type = "text" class="form-control" name = "showcaseContent" placeholder = "showcaseContent" [(ngModel)]="singleItem['showcaseContent']" value="{{singleItem['showcaseContent']}}">
          </div>
          <div class="form-group" >
          <label>Display Showcase Content</label>
            <div><input type="checkbox"  class="form-control"  class="check" name = "displayShowcaseContent" placeholder = "displayShowcaseContent" [(ngModel)]="singleItem['displayShowcaseContent']" value="{{singleItem['displayShowcaseContent']}}"> Display Showcase Content</div>
        </div>
          <div class="form-group" >
          <label>Meta Keywords</label>
          <input type = "text" class="form-control" name = "metaKeywords" placeholder = "metaKeywords" [(ngModel)]="singleItem['metaKeywords']" value="{{singleItem['metaKeywords']}}">
      </div>
          <div class="form-group" >
            <label>Page Title</label>
            <input type = "text" class="form-control" name = "pageTitle" placeholder = "pageTitle" [(ngModel)]="singleItem['pageTitle']" value="{{singleItem['pageTitle']}}">
          </div>
          <div class="form-group">
            <input class="form-control" type = "submit" value = "Submit" style="background: greenyellow">
          </div>
        </form>
      </div>

</div>
<button (click)="goToTestPage()">Go Back To Test Page</button>


