<p>Grid</p>
<div *ngFor="let element of regions">
  {{element.id}}- {{element.name}}
</div>
<br><br><hr>
<table>
  <tr>
    <td>Id-</td>
    <td>Name-</td>
  </tr>
  <tr *ngFor = "let element of regions; let myIndex=index ; let evenRecord = even; let oddRecord =  odd ; let first = first; let last = last" [ngClass]= "{odd: oddRecord, even: evenRecord, first: first, last: last}">
    <td>{{element.id }}  -></td>
    <td> {{element.name}}</td>
    <td><button (click)="deleteItem(element.id)">Delete This Item</button> </td>
    <td><button (click)="editItem(element.id)">Edit This Item</button> </td>

  </tr>


</table>
<br><br><hr>
<div class="jumbotron">
  <div class="col-md-6 offset-md-3">
    <h3 style="margin: 0 auto; text-align: center">Post Brand</h3>
  <form #post = "ngForm" (ngSubmit) = "onClickPostSubmit(post.value)" >
    <div class="form-group">
      <input type = "text" class="form-control" name = "name" placeholder = "name" ngModel>

    </div>
    <div class="form-group">
      <input type = "text" class="form-control"  name = "slug" placeholder = "slug" ngModel>

    </div>
    <div class="form-group">
      <input type = "number"  class="form-control"  name = "sortOrder" placeholder = "sortOrder" ngModel>

    </div>
    <div class="form-group">
      <input type = "checkbox"  class="form-control" class="check"  name = "status" placeholder = "status" ngModel> Status

    </div>
    <div class="form-group">
      <input type = "text"  class="form-control"  name = "distributorCode" placeholder = "distributorCode" ngModel>

    </div>
    <div class="form-group">
      <input type = "text"  class="form-control"  name = "distributor" placeholder = "distributor" ngModel>

    </div>
    <div class="form-group">
      <input type = "text"  class="form-control"  name = "imageFile" placeholder = "imageFile" ngModel>

    </div>
    <div class="form-group">
      <input type = "text"  class="form-control"  name = "showcaseContent" placeholder = "showcaseContent" ngModel>

    </div>
    <div class="form-group">
      <input type = "checkbox"  class="form-control" class="check"  name = "displayShowcaseContent" placeholder = "displayShowcaseContent" ngModel> Display Showcase Content

    </div>
    <div class="form-group">
      <input type = "text"   class="form-control"  name = "metaKeywords" placeholder = "metaKeywords" ngModel>

    </div>
    <div class="form-group">
      <input type = "text"  class="form-control"  name = "metaDescription" placeholder = "metaDescription" ngModel>

    </div>
    <div class="form-group">
      <input type = "text" class="form-control"  name = "pageTitle" placeholder = "pageTitle" ngModel>

    </div>
    <div class="form-group">

      <input type = "submit"  class="form-control"  value = "Submit">

    </div>



  </form><br>
  </div>
</div>

<hr><hr>
<!---
<h3>Edit Current Item </h3>
<form #put = "ngForm" (ngSubmit) = "onClickPutSubmit(put.value, singleItem['id'])" >
  <input type = "text" name = "name" placeholder = "name" ngModel value="{{singleItem['name']}}">
  <br/>
  <input type = "text" name = "slug" placeholder = "slug" [(ngModel)]="singleItem['slug']">
  <br/>
  <input type = "number" name = "sortOrder" placeholder = "sortOrder" [(ngModel)]="singleItem['sortOrder']" value="{{singleItem['sortOrder']}}">
  <br/>
  <div><input type="checkbox" id="myCheck" class="check" name = "status" placeholder = "status" [(ngModel)]="singleItem['status']" value="{{singleItem['status']}}"> Status</div>
  <br/>
  <input type = "text" name = "distributorCode" placeholder = "distributorCode" [(ngModel)]="singleItem['distributorCode']" value="{{singleItem['distributorCode']}}">
  <br/>
  <input type = "text" name = "distributor" placeholder = "distributor" [(ngModel)]="singleItem['distributor']" value="{{singleItem['distributor']}}" >
  <br/>
  <input type = "text" name = "imageFile" placeholder = "imageFile" [(ngModel)]="singleItem['imageFile']" value="{{singleItem['imageFile']}}">
  <br/>
  <input type = "text" name = "showcaseContent" placeholder = "showcaseContent" [(ngModel)]="singleItem['showcaseContent']" value="{{singleItem['showcaseContent']}}">
  <br/>
  <input type = "checkbox" class="check"  name = "displayShowcaseContent" placeholder = "displayShowcaseContent" [(ngModel)]="singleItem['displayShowcaseContent']" value="{{singleItem['status']}}"> Display Showcase Content
  <br/>
  <input type = "text" name = "metaKeywords" placeholder = "metaKeywords" [(ngModel)]="singleItem['metaKeywords']" value="{{singleItem['metaKeywords']}}">
  <br/>
  <input type = "text" name = "metaDescription" placeholder = "metaDescription" [(ngModel)]="singleItem['metaDescription']" value="{{singleItem['metaDescription']}}">
  <br/>
  <input type = "text" name = "pageTitle" placeholder = "pageTitle" [(ngModel)]="singleItem['pageTitle']" value="{{singleItem['pageTitle']}}">
  <br/>

  <input type = "submit" value = "submit">



</form>
-->
